header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90px;
  background-color: blue;
  color: white;
  font-size: 40px;
  font-weight: 900;
  font-family: 'Lobster', sans-serif;
}